body,html {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;

	color: #fff;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background: #181818;

	text-align: center;
	align-items: center;
}

.calendar-main {
	background: #060606;
	width: 100%;
	height: 30px;

	line-height: 30px;
}

.calendar-grid {
	width: 525px;
	height: 450px;
	border: 1px solid black;

	margin: 0 auto;
}
.grid-item {
	width: 75px;
	height: 75px;
	float: left;

	user-select: none;

	text-shadow: 0 0 15px rgb(255,255,255,.8);
	line-height: 75px;

	background: rgb(0, 0, 0, .2);
}

.grid-item.black {
	background: rgb(0, 0, 0, .37);
}

.grid-item.green {
	font-weight: 800;

	background: rgba(33, 255, 4, .15);
}